.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100svw;
  justify-content: center;
  align-items: center;
}

.expense-cards {
  display: flex;
  flex-direction: row;
}

.clear-btn {
  width: 200px;
  margin: 5px;
  border-radius: 6px;
  background-color: #ea580c;
  border: none;
  color: white;
  font-size: 1rem;
  padding: 10px 0;
}

@media (max-width: 950px) {
  .expense-cards {
    flex-direction: column;
  }
}
