.outter-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 5px;
  padding: 15px;
  border-radius: 5px;
  min-height: 200px;
  min-width: 450px;
  max-width: 600px;
}

.inner-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}
.inner-card h2 {
  margin-bottom: 20px;
}

.amount-desc {
  display: flex;
  width: 100%;
  font-weight: bold;
}
.card-amount {
  width: 120px;
}
.g {
  background-color: #d1fae5;
  color: #059669;
}

.dg {
  background-color: #059669;
}

.r {
  background-color: #fee2e2;
  color: #dc2626;
}

.dr {
  background-color: #dc2626;
}

@media (max-width: 450px) {
  .outter-card {
    min-width: 300px;
    max-width: 380px;
  }
}
