.expense-item-container {
  display: flex;
  margin-top: 10px;
  width: 100%;
  padding: 10px 10px;
  font-size: 1.1rem;
}

.expense-amount {
  width: 120px;
  font-weight: bold;
}

/* .expense-desc {

} */
