.head-container {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  color: white;
  display: flex;
  height: 25svh;
  width: 100svw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.head-container p {
  margin-top: 10px;
  font-size: 3rem;
}
